html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: calc(12px + (30 - 12) * ((100vw - 300px) / (1600 - 300)));
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 34vw;
    min-height: 39vw;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 1.5vw;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 7vw;
    width: 7vw;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transition: 0.4s;
}

.deck .card.open {
    transform: rotateY(180deg);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: calc(10px + (40 - 10) * ((100vw - 300px) / (1600 - 300)));
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: calc(10px + (40 - 10) * ((100vw - 300px) / (1600 - 300)));
}

.deactivate {
  pointer-events: none;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 29vw;
    margin-bottom: 0.7vw;
    font-size: calc(8px + (17 - 8) * ((100vw - 300px) / (1600 - 300)));
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    padding-left: 3vw;
    padding-right: 1vw;
    display: inline-block;
    cursor: pointer;
}

.minutes .seconds .hours {
  display: inline-block;
  padding-left: 1vw;
  padding-right: 1vw;
}
.timer {
  float: right;
}

/*
 * Styles for the popup modal // credit: https://www.w3schools.com/howto/howto_css_modals.asp
 */
 /* font size equation credit: https://css-tricks.com/snippets/css/fluid-typography/ */

 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 5vw; /* Location of the box */
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vw;
    overflow: scroll; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    text-align: center;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
}

/* The Close Button */
.close {
    color: #02b3e4;
    float: right;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

/* new game button */
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #02b3e4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: calc(12px + (30 - 12) * ((100vw - 300px) / (1600 - 300)));
  padding: 20px;
  width: 20vw;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  vertical-align: middle;
}
